[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
backtesting = "*"
pandas-ta = "*"
bokeh = "==2.4.3"
python-binance = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
